*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
}
.Vin{
  color: #fff;
  background-color: rgb(255, 128, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  

}
.card{
  color: #fff;
  background-color: rgb(209, 45, 12);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}


.nav{
  background-color: lightblue;
  margin: 5px;
  padding: 20px;
  margin: 5px;
}